* {
    font-size: 1.3rem;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: #016f32;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    font-size: 3.2rem;
    color: goldenrod;
    font-weight: bolder;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 350px;
    background: goldenrod;
    font-size: 1.42rem;
    font-weight: bold;
    padding: 9px 0;
    margin: 6px;
    border: 1px solid #033218;
    border-radius: 6px;
    cursor: pointer;
}